<h1 align='center'> 파이썬과학프로그래밍기초 실습 12</h1>

<p style="text-align: right"> 2023.11.4.</p>

# <div class="alert alert-block alert-info">
    
- 파일 이름에서 00000000을 자신의 학번으로, name을 자신의 이름으로 수정하세요.

- 다음 줄에 자신의 이름, 학번, 학과(전공)을 적으세요.

* 이름:김민준   &nbsp;&nbsp;          학번:20235128    &nbsp;&nbsp;         학과(전공):소프트웨어융합
    
</div>

- Jupyter notebook에 대한 설명은 [The Jupyter Notebook](https://jupyter-notebook.readthedocs.io/en/stable/)을  참고하라

- Markdown은 [Markdown Guide](https://www.markdownguide.org/)를 참고하라.
- [Markdown Cheat Sheet](https://www.markdownguide.org/cheat-sheet/)

* 과제 제출: 11월 3일 (일) 오후 22:00까지 최종본 제출.

In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 문제 1.

fake_student_records_2.csv 파일을 읽어서 DataFrame 객체 scores를 만들어라. 단, '이름' column을 index로 지정해야 한다.

In [33]:
import pandas as pd

scores = pd.read_csv('fake_student_records_2.csv', index_col='이름')
print(scores)

     Unnamed: 0        학번       소속  학년  과제1  과제2  과제3  과제4  과제5  과제6  과제7  과제8
이름
길은영           0  20267377     일본학과   3   61   59   54   42   53   48   56   65
임희윤           1  20337377     심리학과   2   76   66   67   75   64   77   51   94
류준산           2  20266173     경제학과   2   98   81   63   84   65   65   89   52
한성빈           3  20314864     경제학과   3   75   69   57   59   67   57   93   71
김화원           4  20277416     경영학과   3   45   47   51   57   64   71   76   84
..          ...       ...      ...  ..  ...  ...  ...  ...  ...  ...  ...  ...
신한산          71  20308787  콘텐츠IT전공   2   91   78   70   61   66   61   41   82
윤주인          72  20337397   빅데이터전공   4   68   55   60   52   69   62   63   80
김여환          73  20277462   빅데이터전공   2   64   49   54   71   47   72   78   97
남용원          74  20317536  콘텐츠IT전공   2   60   55   56   70   74   67   68   67
이은경          75  20318996   빅데이터전공   2   67   56   64   57   72   59   95   76

[76 rows x 12 columns]

## 문제 2.

'과제1' 점수가 95 점 이상인 학생들의 이름을 원소로 갖는 리스트를 만들어서 출력하라.

결과는 다음과 같아야 한다.

```
['류준산',
 '현상연',
 '이수연',
 '윤원헌',
 '김동원',
 '채소규',
 '권태민',
 '류상수',
 '조대욱',
 '신영성',
 '고병훈',
 '배상윤']```

In [34]:
import pandas as pd

scores = pd.read_csv('fake_student_records_2.csv', index_col='이름')

high_scores_students = scores[scores['과제1'] >= 95].index.tolist()
print(high_scores_students)

['류준산', '현상연', '이수연', '윤원헌', '김동원', '채소규', '권태민', '류상수', '조대욱', '신영성', '고병훈', '배상윤']

### 문제 3.

8 번의 과제 점수가 모두 60 점 이상인 학생들의 이름을 원소로 갖는 리스트를 만들어서 출력하라.

결과는 다음과 같아야 한다.
```
['김성혁', '안성우', '윤원헌', '조대욱']
```

In [35]:
import pandas as pd

scores = pd.read_csv('fake_student_records_2.csv', index_col='이름')

all_high_scores_students = scores[scores.iloc[:, 4:].min(axis=1) >= 60].index.tolist()
print(all_high_scores_students)

['김성혁', '안성우', '윤원헌', '조대욱']

### 문제 4.

8 번의 과제의 평균 점수를 series로 구하라.

결과는 다음과 같아야 한다.
```
과제1    73.710526
과제2    63.131579
과제3    55.131579
과제4    62.684211
과제5    66.947368
과제6    61.960526
과제7    72.763158
과제8    76.223684
```

In [36]:
import pandas as pd

scores = pd.read_csv('fake_student_records_2.csv', index_col='이름')

average_scores = scores.iloc[:, 4:].mean()
print(average_scores)

과제1    73.710526
과제2    63.131579
과제3    55.131579
과제4    62.684211
과제5    66.947368
과제6    61.960526
과제7    72.763158
과제8    76.223684
dtype: float64

### 문제 5.

8 번의 과제 점수가 모두 각 과제의 평균 점수 이상인 학생들의 이름을 원소로 갖는 리스트를 만들어서 출력하라.

결과는 다음과 같아야 한다.
```
['김성혁', '윤원헌', '채소규']
```

In [42]:
import pandas as pd

scores = pd.read_csv('fake_student_records_2.csv', index_col='이름')

above_average_students = scores[(scores['과제1'] >= average_scores['과제1']) &
                                 (scores['과제2'] >= average_scores['과제2']) &
                                 (scores['과제3'] >= average_scores['과제3']) &
                                 (scores['과제4'] >= average_scores['과제4']) &
                                 (scores['과제5'] >= average_scores['과제5']) &
                                 (scores['과제6'] >= average_scores['과제6']) &
                                 (scores['과제7'] >= average_scores['과제7']) &
                                 (scores['과제8'] >= average_scores['과제8'])].index.tolist()
print(above_average_students)

['김성혁', '안성우', '류상수']

### 문제 6.

'시험3' 점수가 70 점과 80점 사이인 (70점, 80점 포함) 학생들의 정보를 출력하라.

결과는 다음과 같아야 한다.
```
           학번         소속  학년  과제1  과제2  과제3  과제4  과제5  과제6  과제7  과제8
이름                                                                  
김성혁  20287422  소프트웨어융합대학   1   93   64   80   81   71   92   81   95
윤원헌  20287476     빅데이터전공   3   98   80   73   75   65   80   89   88
한재혁  20275473    콘텐츠IT전공   3   89   85   77   74   80   69   54   56
김동원  20315272     빅데이터전공   3   98   79   70   70   69   71   50   98
김재성  20308862    ICT융합전공   3   85   83   75   55   74   88   78   58
함재원  20317303    콘텐츠IT전공   2   82   59   70   68   65   63   60   57
권윤하  20307408   스마트IoT전공   2   94   84   77   60   88   80   51   90
신한산  20308787    콘텐츠IT전공   2   91   78   70   61   66   61   41   82
```

## 문제 7.

### 7.1

다음 URL에서 서울교통공사 연도별 일별 시간대별 역별 승하차 인원을 csv 파일로 내려받아라.

https://data.seoul.go.kr/dataList/OA-12921/F/1/datasetView.do

단, 가장 최신 정보를 내려 받은 후에, 파일 이름의 공백을 '_'로 바꿔라.

### 7.2

문제 7.1에서 내려받은 파일을 읽어서 dataFrame으로 변환하라. 단, '연반' 컬럼을 인덱스로 지정하라.

### 7.3

서울 지하철 역 개수를 구하라

In [37]:
df_subway['역명'].nunique()

NameError: name 'df_subway' is not defined

### 7.4

승하차 인원의 합이 가장 많은 시간대와 역 이름을 구하라.